:root {
    --base: #F0F7D4;
    --secondary: #AE0D7A;
    --spacing: 10px;
    --blur: 10px;
    --radius: 1%;
}

img {
   padding: var(--spacing);
   background: var(--base);
   filter: blur(var(--blur));
   border-radius: var(--radius);
   max-width: 1000px; 
}

.hl {
    color: var(--base);
}

/*
    misc styles, nothing to do with css variables
*/
body {
    text-align: center;
}

body {
    background: #FCBA12;
    color: #448D76;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 50px;
}

.controls {
    margin-bottom: 50px;
}

label {
    color: var(--secondary) !important;
}

a {
    color: var(--base);
    text-decoration: none;
}

input {
    width: 100px;
}

input.color {
    height: 43px;
}